.form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 80%;
}

.list-row {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 80%;
}

.flex-row-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.option {
  display: flex;
  margin: 20px auto;
  width: 80%;
  justify-content: space-between;
  align-items: flex-start;
}

.form-margin {
  margin-top: 20px;
}

.link-span {
  text-decoration: underline;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
  transition: ease .3s all;
}

.nav-list-item:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px black;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

/* custom radio styles */

 /* Customize the label (the container) */
 .container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

/* On mouse-over, add a black background color */
.container:hover input ~ .checkmark {
  background-color: #000000;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000000;
  box-shadow: none;
  box-shadow: 5px 5px 5px #000000
}



.terrible {
  color: red
}
.bad {
  color: tomato
}
.average {
  color: orange
}
.good {
  color: #406343
}
.excellent {
  color: #3E7C17
}

.rankings-container > form:not(:first-child) {
  display: none;
}



/* Customize the label (the container) */
.container2 {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0.75em;
  opacity: 0.8;
}

.weight-label {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.less-important {
  transform: scale(1.2)
}

.kinda-neutral {
  transform: scale(1.5);
}

.somewhat-important {
  transform: scale(2);
}

.important {
  transform: scale(2.5);
}

.very-important {
  transform: scale(3);
}

/* On mouse-over, add a black background color */
.container2:hover input ~ .checkmark2 {
  color: #ab6d23;
}
.container2:hover input ~ .weight-label {
  color: #ab6d23;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark2 {
  color: #ab6d23;
}
.container2 input:checked ~ .weight-label {
  color: #ab6d23;
}

.card-weight {
  color: #ab6d23;
  opacity: 0.8;
}

.chart-container {
  width: 40%;
  margin: 10px 0;
}

.img-container {
  background-image: url('./images/decisionimage.jpg');
  width: 50%;
  background-size: cover;
  box-shadow: 10px 10px 10px black;
  padding-top: 20px;
}

.home-container {
  width: 50%;
  margin-left: 30px;
}

