.form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 80%;
}

.flex-row-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.option {
  display: flex;
  margin: 50px auto;
  width: 80%;
  justify-content: space-between;
}

.form-margin {
  margin-top: 20px;
}

.link-span {
  text-decoration: underline;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.nav-list-item:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

/* custom radio styles */

 /* Customize the label (the container) */
 .container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

/* On mouse-over, add a black background color */
.container:hover input ~ .checkmark {
  background-color: #000000;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000000;
  box-shadow: none;
  box-shadow: 5px 5px 5px #000000
}



.terrible {
  color: red
}
.bad {
  color: tomato
}
.average {
  color: orange
}
.good {
  color: #406343
}
.excellent {
  color: #3E7C17
}

